* {
  padding: none;
  margin: none;
}

body {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  justify-content: center;
}

.content {
  min-height: 400px;
  max-width: 621px;
  width: 100%;
  font-family: "Inter";
  padding-top: 50px;
}

.header {
  display: flex;
  justify-content: center;
}

.header__input {
  width: 400px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: #f1f1f1;
  font-size: 17px;
}

.header__btn {
  cursor: pointer;
  width: 107px;
  height: 50px;
  background-color: #a672ff;
  border-radius: 10px;
  margin-left: 35px;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
}

.header__btn:hover {
  background-color: #3217cf;
}

.main {
  margin: 56px 0;
  min-height: 135px;
}

.main__tasks {
  width: 100%;
  padding: 0;
}

.main__tasks-item {
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.hyphenation {
  max-width: 450px;
  white-space: nowrap; /* Текст не переносится */
  overflow: hidden; /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis;
}

.changeInput {
  outline: none;
  background: transparent;
  border-left: 0;
  padding-left: 0;
  height: 46px;
  font-family: "Inter";
  font-size: 16px;
  width: 400px;
  overflow: hidden;
}

.main__task-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #a672ff;
  margin: 0 10px 0 24px;
  cursor: pointer;
}

.main__task-btn:hover {
  background-color: #a672ff;
}

.main__img-edit {
  margin-left: auto;
}

.main__img-edit:hover {
  background-color: #a672ff;
}

.main__img-delete {
  margin: 0 24px 0 16px;
}

.main__img-delete:hover {
  background-color: #a672ff;
}

.crossOut {
  background-image: linear-gradient(
    transparent 7px,
    #cccccc 7px,
    #e42929 9px,
    transparent 9px
  );
}

.completed__task {
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: line-through 2px solid #a672ff;
}

.footer__filter {
  height: 50px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__filter-item-All,
.footer__filter-item-Completed,
.footer__filter-item-NoCompleted {
  font-size: 14px;
  width: 127px;
  border: 1px solid #a672ff;
  color: #a672ff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.footer__item-active {
  background: #a672ff;
  color: #fff;
}
